<h1>Welcome to Hot Reads</h1>

<div class="links">
  <h2>Top 10 Links</h2>
  <table>
    <thead>
      <th>URL</th>
      <th>Count</th>
    </thead>
    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td>
            <%= link.url %>
          </td>
          <td><%= link.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
